# Node / NPM / Yarn
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
# package-lock.json

# Builds
dist/
build/
tmp/
logs/
*.log
*.log.gz

# Version control
.git/
.gitignore
.gitattributes

# OS temp files
.DS_Store
Thumbs.db

# Docker (opcional, solo si buildas fuera o nunca los necesitas dentro)
# Dockerfile
# docker-compose*.yml

# Entornos
.env
.env.*
!.env.example # Mantén solo los archivos de ejemplo

# IDEs y editores
.vscode/
.idea/
*.sublime-workspace

# Tests y coverage
coverage/
*.spec.ts
*.test.ts

# Otros temporales
*.swp
*.tmp
*.bak
.eslintcache

# Documentación (opcional, suelen pesar poco)
# README.md

# Nx/Turbo (si aplican)
.nx/
.turbo/
