node_modules/
dist/
build/
logs/
coverage/
test/coverage/
apps/**/dist/
libs/**/dist/
*.log
*.tmp
*.swp
.eslintcache
.DS_Store
mariadb-data/
redis-data/
auth_node_modules/
links_node_modules/
.nx/
.turbo/
