# Nombre del microservicio
SERVICE_NAME=auth

# Puerto de escucha del microservicio Auth
AUTH_PORT=60200

# --- JWT ---
# Secreto JWT (asegúrate de cambiarlo en producción)
AUTH_JWT_SECRET= # <--- Pon aquí una clave segura, por ejemplo: aC6uDdk7XA1kXg+3bFL+O90vW5PYVPpElUQc4vYTiiA=
# Tiempo de expiración del token JWT (ejemplo: 15m, 1h, 7d)
AUTH_JWT_EXPIRES_IN= # <--- Ejemplo: 15m
# Tiempo de expiración del refresh token
AUTH_JWT_REFRESH_EXPIRES_IN= # <--- Ejemplo: 7d

# --- Base de datos Auth ---
AUTH_DB_NAME= # <--- Nombre de la base de datos específica para Auth (ejemplo: auth_db)
