# Nombre del microservicio
SERVICE_NAME=links

# Puerto de escucha del microservicio Auth
LINKS_PORT=60201

# --- Base de datos Links ---
LINKS_DB_NAME= # <--- Nombre de la base de datos específica para Auth (ejemplo: links_db)